<link rel="stylesheet" href="css/app.css"/>
@page "/"
<div class="container-fluid">
	<h2 class="text-center">
		Что такое нейронные сети?
	</h2>
	<div class="row my-4">
		<div class="col-12-sm col-lg-10" >
			<img class="img-thumbnail img-responsive img-left makeLarger mr-3" src="http://iteach.vspu.ru/files/2021/06/1.jpg" alt="Нейронная сеть" />
			<p class="text-justify my-3">
				Нейронная сеть - математическая модель, а также ее программное и аппаратное воплощение, 
				построенная по принципу организации и функционирования биологических нейронных сетей - сетей нервных клеток организма. 
				Это понятие возникло при изучении процессов, протекающих в мозге, и при попытке смеделировать эти процессы.
				Первой такой попыткой были  нейронные сети
				<a href="https://ru.wikipedia.org/wiki/%D0%9C%D0%B0%D0%BA%D0%BA%D0%B0%D0%BB%D0%BE%D0%BA,_%D0%A3%D0%BE%D1%80%D1%80%D0%B5%D0%BD" target="_blank">У. Маккалока</a> и 
				<a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%B8%D1%82%D1%82%D1%81,_%D0%A3%D0%BE%D0%BB%D1%82%D0%B5%D1%80" target="_blank">У. Питтса</a>. 
				После разработки алгоритмов обучения получаемые модели стали использовать в практических целях: в задачах прогнозирования, для распознования образов, в задачах управления и др.
			</p>
			<p class="text-justify my-3">
				Искуственная нейронная сеть представляет собой систему соединенных и взаимодейсвтующих между собой простых процессоров (искусвенных нейронов). Такие процессоры обычно довольно просты 
				(особенно в сравнении с процессорами, используемыми в ПК). Каждый проссор подобной сети имеет дело только с сигналами, которые он переодически получает, и сигналами, которые он переодически посылает другим 
				процессором. И, тем не менее, будучи соединенными в достаточно большую сеть с управляемым взаимодействием, такие по отдельности простые процессоры 
				вместе способны выполнять довольно сложные задачи.
			</p>
			<p class="text-justify my-3">
				<ul class="text-justify">
					<li>
						С точки зрения машинного обучения, нейронная сеть представляет собой частный случай методов распознования образов, дискриминатор анализа, методов кластеризации и т.п.
					</li>
					<li>
						С точки зрения математики, обучение нейронных сетей - это многопараметрическая задача нелинейной оптимизации.
					</li>
					<li>
						С точки зрения кибернетики, нейронная сеть используется в задачах адаптивногго управления и как алгоритмы для робототехники.
					</li>
					<li>
						С точки зрения развития вычислительной техники и программирования, нейронная сеть - способ решения проблемы эффективного параллелизма.
					</li>
					<li>
						C точки зрения исскуственного интелекта, ИНС является основой философского течения коннекционизма и основным направление в структурном подходе по изучению 
						возможности построения (моделлирования) естественного интеллекта с помощью компьютерных алгоритмов.
					</li>	
				</ul>
			</p>
		</div>
	</div>
</div>
@code {
	
}